<nav class="navbar navbar-default navbar-fixed-top navMenu">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a id="home-nav-item" class="cursor-change"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li><a id="blog-nav-item" class="cursor-change"><span class="glyphicon glyphicon-book"></span> Blog</a></li>
	  <li><a id="tutorials-nav-item" class="cursor-change"><span class="glyphicon glyphicon-info-sign"></span> Tutorials</a></li>
	  <li><a id="products-nav-item" class="cursor-change"><span class="glyphicon glyphicon-tag"></span> Products</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li class="navbar-right"><a href="#" id="signin"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
      <li><a href="#" id="create"><span class="glyphicon glyphicon-pencil"></span> Create</a></li>
    </ul>
  </div>
</nav>
