<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
  <script src="./main.js"></script>
  
</head>

<body>

  <% include ../partials/nav.ejs %>
  
<div id="searchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search Results</h4>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
  <% include ../partials/signin.ejs %>

<div class="jumbotron text-center" id="top">
	<div class="container">
		<h1>DIY Done Right</h1>
		<p>Welcome to my website where I share my woodworking and decor thoughts, knowledge, and products with you! I'm Shannon Lobaccaro and these are my experiences.</p>
		<div class="search-form">
			<div class="form-group">
				<div class="row nopadding">
					<div class="col-md-8 nopadding">
						<input type="text" class="form-control" id="search-text" placeholder="Search All">
					</div>
					<div class="col-md-4 nopadding">
						<div class="input-group-btn">
						  <button class="btn btn-primary" id="search-submit">
							<span class="glyphicon glyphicon-search"></span> Search
						  </button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<div class="container nopadding">
	<div id="searchResults" class="container">
	</div>
	<div class="row large-menu">
		<div id="blog" class="col-md-4 large-menu-item lg-m-itm-1">
			<div class="large-menu-item-inside center-child">
				<span class="glyphicon glyphicon-book glyphicon-lg"></span><br/>
				Blog Posts<br/>
				Come check out my thoughts and projects here on my blog posts!
			</div>
		</div>
		<div id="tutorials" class="col-md-4 large-menu-item lg-m-itm-2">
			<div class="large-menu-item-inside center-child">
				<span class="glyphicon glyphicon-info-sign glyphicon-lg"></span><br/>
				Tutorials<br/>
				Want to learn how to make some amazing projects? Here is your stop!
			</div>
		</div>
		<div id="products" class="col-md-4 large-menu-item lg-m-itm-3">
			<div class="large-menu-item-inside center-child">
				<span class="glyphicon glyphicon-tag glyphicon-lg"></span><br/>
				Products<br/>
				I sell the things that I create along with you guys! Come take a look!
			</div>
		</div>
	</div>
	<div class="container-main hide-item">
		<div id="main-item-holder" class="container-main-item">
		</div>
	</div>
	<div class="container-recent">
		<div class="item">
			<div class="item-title">
				<h2>Recent Activity</h2>
			</div>
			<div id="recent-activity">
			</div>
		</div>
	</div>
	<div class="container-about">
		<div class="item">
			<div class="item-title">
				<h2>About</h2>
			</div>
			<div class="item-pic-left">
				<img src="../aboutpic.jpg" class="img-thumbnail"/>
			</div>
			<div class="item-text">
				<p>Hello. My name is Shannon Lobaccaro and I love to create works of art using wood! Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				Aliquam ut orci rutrum, iaculis metus eget, elementum orci. Praesent vestibulum velit in magna dignissim scelerisque nec ac diam. Ut vitae commodo leo, 
				ut dictum augue. Cras varius ligula eget massa accumsan, eu laoreet sapien interdum. Fusce orci turpis, cursus et porttitor in, tincidunt ut massa. 
				Proin rutrum, ex a lacinia porttitor, mi tortor posuere ligula, eu sollicitudin orci nisi porta magna. Curabitur mi lacus, viverra in nisl at, condimentum 
				rutrum lectus. Fusce sagittis vel metus eu posuere. Morbi molestie pharetra eros, a vehicula tellus venenatis quis. Nam molestie eget lectus eget elementum.</p> 
				Ut vehicula ut neque vel interdum. Phasellus quis nisl et magna luctus semper. Suspendisse id justo feugiat, pretium tellus a, pharetra ligula. In molestie 
				enim sit amet interdum dapibus. Mauris non ligula scelerisque ex cursus iaculis id at nibh. Praesent cursus non justo id congue. Vestibulum ante ipsum primis 
				in faucibus orci luctus et ultrices posuere cubilia Curae; Sed at velit mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
				turpis egestas. Sed rutrum mattis felis, id facilisis metus facilisis eu. Pellentesque tortor diam, faucibus convallis odio a, blandit facilisis eros. Phasellus 
				eleifend lobortis porttitor. Pellentesque eleifend malesuada libero vel luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ut nisi at 
				erat pulvinar convallis et non purus. Nam elementum ultrices nunc, ut cursus nibh interdum eu. Cras ut pellentesque eros, ut pulvinar ligula. Phasellus euismod 
				faucibus magna, ut scelerisque ante scelerisque quis. In semper condimentum nibh.
			</div>
		</div>
	</div>
</div>
</body>
</html>
